{% extends "layouts/admin_layoud.twig" %}

{% block content %}

	<div class="flex m-10">
		<input type="search" class="input light-table-filter" data-table="order-table" placeholder="Filtro">
		<label class="mx-5 btn btn-primary" for="modal-create-users">
			Crear Usuario
		</label>
	</div>


	<div
		class="flex justify-center mt-10 w-full overflow-x-auto px-10">
		{# MODALES #}
		{% include 'components/update_dirs_modal.twig'%}
		{% include 'components/update_users_modal.twig'%}
		{% include 'components/create_dirs_modal.twig'%}
		{% include "components/create_users.twig" %}
		{% include "components/delete_dirs_modal.twig" %}
		{% include "components/delete_users_modal.twig" %}
		{# AQUI TERMINAN LOS MODALES #}
		<section class="overflow-x-auto w-full">
			<table id="myTable" class="sortable order-table table-zebra table border table-hover">
				<thead>
					<tr>
						<th>
							Codigo
						</th>
						<th>
							Nombre
						</th>
						<th>
							Passwd
						</th>
						<th>
							Email
						</th>
						<th>
							Telefono
						</th>
						<th>
							Direccion
						</th>
						<th>
							Rol
						</th>
						<th>
							Accion
						</th>
					</tr>
				</thead>
				<tbody>
					{% for value in data %}
						<tr>
							<td>
								{{value.Codigo}}
							</td>
							<td>
								{{value.Nombre}}
							</td>
							<td>
								{{value.Passwd}}
							</td>
							<td>
								{{value.Email}}
							</td>
							<td>
								{{value.Telefono}}
							</td>
							<td>
								{% for direccion in value.Direcciones %}
									<div>
										{{direccion.Direccion}}
										,
										{{direccion.CP}}
										,
										{{direccion.Provincia}}
										{# boton modal#}
										<label class="btn btn-xs btn-ghost self-center" for="modal_update_directions">
											<i class="modalbtn_update_dirs bi bi-cursor-text" data-codigo="{{direccion.Codigo}}" data-direccion="{{direccion.Direccion}}" data-cp="{{direccion.CP}}" data-provincia="{{direccion.Provincia}}"></i>
										</label>

										<label class="delete-modal btn btn-xs btn-ghost self-center" for="delete-dirs">
											<i class="modalbtn_delete_dirs bi bi-eraser-fill" data-codigo="{{direccion.Codigo}}" data-padre="{{padre}}"></i>
										</label>


									</div>
								{% endfor %}
							</td>
							<td>
								{{value.Rol}}
							</td>
							<td>
								<label class="btn btn-xs btn-ghost self-center" for="modal-update-users">
									<i class="bi bi-person-lines-fill text-xl modalbtn_update_users" data-codigo="{{value.Codigo}}" data-nombre="{{value.Nombre}}" data-email="{{value.Email}}" data-telefono="{{value.Telefono}}" data-rol="{{value.Rol}}"></i>
								</label>
								<label class="btn btn-xs btn-ghost self-center" for="modal-create-directions">
									<i class="bi bi-house-add-fill text-xl modalbtn-create-dirs" data-id={{value.Codigo}}></i>
								</label>
								<label class="delete-modal-users btn btn-xs btn-ghost self-center" for="delete_users">
									<i class="modalbtn-delete-users bi bi-eraser-fill" data-codigo="{{value.Codigo}}" data-padre="{{padre}}"></i>
								</label>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

	</div>
{% endblock %}
{% block js %}
	<script src="{{padre}}js/admin_users.js"></script>
	<script src="{{padre}}js/table.js"></script>
	<link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
{% endblock %}
