{% block modalbtn %}
	{% block button %}
	{% endblock %}
{% endblock %}
{% block modal %}
	<input class="modal-state" id="{{modalId}}" type="checkbox"/>
	<div class="modal w-screen">
		<label class="modal-overlay" for="{{modalId}}"></label>
		<div class="modal-content flex flex-col gap-5 w-[50%] h-fit">
			<label for="{{modalId}}" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
				✕
			</label>
			<h2 class="text-xl">
				{% block title %}
				{% endblock %}
				{{modalId}}
			</h2>
			<div class="flex items-center w-[60%]">
				{% block content %}
				{% endblock %}
			</div>
		</div>

	</div>
{% endblock %}
{% block jsmodal %}
	<script src="{{padre}}js/update_users.js" defer></script>
{% endblock %}
